<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="YOUR CLIENT ID"/>    
    <add key="ida:RedirectUri" value="YOUR REDIRECT URI"/>
    <add key="app:Name" value="YOUR APP NAME"/>
    <add key="app:Version" value="YOUR APP VERSION"/>
  </appSettings>
  <runtime>   
  </runtime>
</configuration>
