<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="YOUR CLIENT ID"/>
    <!-- Only required if not using MSAL default redirect URI-->
    <add key="ida:RedirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient"/>
    <!-- Set this to true if your application is not enabled for multitenant access. -->
    <add key="ida:IsMultitenantApp" value="true"/>    
    <!-- Set this to your tenant name or GUID if your application is not enabled for multitenant access. -->
    <add key="ida:TenantGuid" value="YOUR TENANT GUID"/>
    <add key="app:Name" value="MIP File SDK Sample App"/>
    <add key="app:Version" value="1.7"/>
  </appSettings>
  <runtime>   
  </runtime>
</configuration>
