<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="aed76448-c9a0-4035-b77c-1f3f4e69a489"/>    
    <add key="ida:RedirectUri" value="https://login.microsoftonline.com/common/oauth2/nativeclient"/>
    <add key="ida:IsMultitenantApp" value="true"/> <!-- Set this to true if your application is not enabled for multitenant access. -->
    <add key="ida:TenantGuid" value="milt0r.com"/> <!-- Set this to your tenant name or GUID if your application is not enabled for multitenant access. -->
    <add key="app:Name" value="MIP File SDK Sample App "/>
    <add key="app:Version" value="1.2.3"/>
  </appSettings>
  <runtime>   
  </runtime>
</configuration>
